/*
*/

 

/* Imports */

@import url("reset.css");


/***** Global *****/

/* Body */

    body {

        background: #F2F5ED;

        color: #000305;

        font-size: 87.5%; /* Base font size: 14px */

        font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        line-height: 1.429;

        margin: 0;

        padding: 0;

        text-align: left;

    }

 

/* Headings */

h2 {font-size: 1.571em} /* 22px */

h3 {font-size: 1.429em} /* 20px */

h4 {font-size: 1.286em} /* 18px */

h5 {font-size: 1.143em} /* 16px */

h6 {font-size: 1em} /* 14px */

 

h2, h3, h4, h5, h6 {

    font-weight: 400;

    line-height: 1.1;

    margin-bottom: .8em;

}

 

/* Anchors */

a {outline: 0;}

a img {border: 0px; text-decoration: none;}

a:link, a:visited {

    color: #84002E;

    padding: 0 1px;

    text-decoration: underline;

}

a:hover, a:active {

    background-color: #84002E;

    color: #fff;

    text-decoration: none;

    text-shadow: 1px 1px 1px #333;

}

 

/* Paragraphs */

p {margin-bottom: 1.143em;}

* p:last-child {margin-bottom: 0;}

 

strong, b {font-weight: bold;}

em, i {font-style: italic;}

 

::-moz-selection {background: #CCCCCC; color: #000;}

::selection {background: #CCCCCC; color: #000;}

 

/* Lists */

ul {

    list-style: outside disc;

    margin: 1em 0 1.5em 1.5em;

}

 

ol {

    list-style: outside decimal;

    margin: 1em 0 1.5em 1.5em;

}

 

dl {margin: 0 0 1.5em 0;}

dt {font-weight: bold;}

dd {margin-left: 1.5em;}

 

/* Quotes */

blockquote {font-style: italic;}

cite {}

 

q {}

 

/* Tables */

table {margin: .5em auto 1.5em auto; width: 98%;}

 

    /* Thead */

    thead th {padding: .5em .4em; text-align: left;}

    thead td {}

 

    /* Tbody */

    tbody td {padding: .5em .4em;}

    tbody th {}

 

    tbody .alt td {}

    tbody .alt th {}

 

    /* Tfoot */

    tfoot th {}

    tfoot td {}

/* HTML5 tags */

header, section, footer,
aside, nav, article, figure {
    display: block;
}

/***** Layout *****/

.body {clear: both; margin: 0 auto; width: 800px;}

img.right figure.right {float: right; margin: 0 0 2em 2em;}

img.left, figure.left {float: right; margin: 0 0 2em 2em;}


/*

    Header

*****************/

#banner {

    margin: 0 auto;

    padding: 2.5em 0 0 0;

}

 

    /* Banner */

    #banner h1 {font-size: 3.571em; line-height: .6;}

    #banner h1 a:link, #banner h1 a:visited {

        color: #000305;

        display: block;

        font-weight: bold;

        margin: 0 0 .6em .2em;

        text-decoration: none;

        width: 427px;

    }

    #banner h1 a:hover, #banner h1 a:active {

        background: none;

        color: #B80028;

        text-shadow: none;

    }

 

    #banner h1 strong {font-size: 0.36em; font-weight: normal;}

/* Main Nav */

#banner nav {

    background: #84002E;

    font-size: 1.143em;

    height: 40px;

    line-height: 30px;

    margin: 0 auto 2em auto;

    padding: 0;

    text-align: center;

    width: 800px;

 

    border-radius: 5px;

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;

}

 

#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}

#banner nav li {float: left; display: inline; margin: 0;}

 

#banner nav a:link, #banner nav a:visited {

    color: #fff;

    display: inline-block;

    height: 30px;

    padding: 5px 1.5em;

    text-decoration: none;

}

#banner nav a:hover, #banner nav a:active,

#banner nav .active a:link, #banner nav .active a:visited {

    background: #C74451;

    color: #fff;

    text-shadow: none !important;

}

 

#banner nav li:first-child a {

    border-top-left-radius: 5px;

    -moz-border-radius-topleft: 5px;

    -webkit-border-top-left-radius: 5px;

 

    border-bottom-left-radius: 5px;

    -moz-border-radius-bottomleft: 5px;

    -webkit-border-bottom-left-radius: 5px;

}

/*

    Featured

*****************/

.featured {

    background: #fff;

    margin-bottom: 2em;

    overflow: hidden;

    padding: 20px;

    width: 760px;

 

    border-radius: 10px;

    -moz-border-radius: 10px;

    -webkit-border-radius: 10px;

}

 

.featured figure {

    border: 2px solid #eee;

    float: right;

    margin: 0.786em 2em 0 5em;

    width: 248px;

    display: none;
}

.featured figure img {display: none; float: right;}

 

.featured h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}

.featured h3 {font-size: 1.429em; margin-bottom: 0.333em;}

.featured span {font-size 0.5em; margin-bottom: 1.714em; font-style: italic; float: right}

 

.featured h3 a:link, .featured h3 a:visited {color: #000305; text-decoration: none;}

.featured h3 a:hover, .featured h3 a:active {color: #fff;}

 

/*

    Body

*****************/

#content {

    background: #fff;

    margin-bottom: 2em;

    overflow: hidden;

    padding: 20px 20px;

    width: 760px;

 

    border-radius: 10px;

    -moz-border-radius: 10px;

    -webkit-border-radius: 10px;

}


#go {
color:#050; 
background-color: #fdd; 

}


/*

    About

*****************/

#about {

    background: #fff;

    font-style: normal;

    margin-bottom: 2em;

    overflow: hidden;

    padding: 20px;

    text-align: left;

    width: 760px;

 

    border-radius: 10px;

    -moz-border-radius: 10px;

    -webkit-border-radius: 10px;

}

 

#about .primary {float: left; width: 165px;}

#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}

#about .photo {float: left; margin: 5px 20px;; width: 50px}

 

#about .url:link, #about .url:visited {text-decoration: none;}

 

#about .bio {float: right; width: 500px;}

/*
  Contact
*****************/


/*

    Footer

*****************/

#contentinfo {padding-bottom: 2em; text-align: right;}

